html {
    scroll-padding-top: 80px;
}

/* Body */

body{
    background-color: rgb(209, 224, 224);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Logo et Titre */
#brand {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Liens du menu */
.nav-link {
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    font-size: 18px;
}

/* Changer la couleur des liens au survol */
.navbar-nav .nav-link:hover {
    color: #0b64a0 !important;
}

/* Changer la couleur du lien actif */
.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus {
    color: #121113 !important; 
}


/* Ajustement du bouton de connexion */
#login {
    font-size: 18px;
    padding: 8px 15px;
    margin-right: 6%;
}

#accueil{
    padding-bottom: 100px;
}

#accueil p
{
    text-transform: uppercase;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 50px 0px 0px 0px;
    text-shadow: 1px 1px 1px rgb(84, 31, 230);
    margin-top: 50px;
}

/*Footer*/

#footer{
    text-align: center;
    height: 80px;
    background-color: #050505;
}
#footer{
    padding-top: 25px;
}