body {
    background-color: #e3f2fd;
    font-family: 'Arial', sans-serif;

}
.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    width: 350px;
    margin-top: 100px;
    margin-bottom: 100px;
}
h4 {
    color: #007bff;
    font-weight: bold;
    text-align: center;
}
.form-label {
    font-weight: bold;
    font-size: 14px;
}
.form-control{
    height: 28px;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    border-color: #004085;
}
.card-body {
    background-color: #ffffff;
    border-radius: 15px;
}
.container {
    margin-top: 15px;
}
.condition {
    font-size: 14px;
}
.small-link {
    font-size: 16px;
    text-decoration: none;
}
.small-link:hover{
    text-decoration: underline;
}
