/* Section image d'accueil */
.image-accueil {
    position: relative;
    background-image: url("Images/activites\ sportives.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    
}
.image-accueil::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1; 
    pointer-events: none;
}

/* Contenu texte sur l'image */
.text {
    color:white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.4);
}

.text h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.text .btn {
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.text .btn:hover {
    background-color: #0056b3;
}



/*Activites */

.activites{
    background: rgba(146, 166, 175, 0.3);
    border-radius: 10px;
    border: 3px solid rgba(75, 75, 80, 0.5);
}

.activity-card {
    
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.activity-card img {
    max-width: 100%;
    height: 200px;
    width: 400px;
    border-radius: 10px;
    margin-top: 10px;
}

.activity-card h3 {
    font-size: 27px;
    margin-top: 10%;
}

.activity-card p {
    font-size: 20px;
    color: #666;
}

.activity-card button {
    margin-top: 30%;
}

.activity-card button:hover {
    background-color: #007bff;
    border-color: #007bff;
}

.connect_activite{
    margin-top: 10px;
    margin-bottom: -40px;
}

@media screen and (max-width: 770px) {
    .activity-card button {
        margin-top: 15%; 
    }
}
