.container {
    max-width: 800px;
    margin-top: 110px;
    margin-bottom: 50px;
}
#login {
    font-weight: normal !important;
}
.card {
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
}

h2 {
    font-weight: bold;
    color: #007bff;
}
/* Style des labels */
.form-label {
    font-weight: bold;
    color: #333;
}

/* Style des champs de formulaire */
.form-control, .form-select {
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Espacement entre les champs */
.mb-3 {
    margin-bottom: 20px;
}

/* Style des boutons radio et checkboxes */
.form-check-input {
    accent-color: #007bff;
}

#label_jour{
    display: none;
}

/* Responsive */
@media (max-width: 768px) {
    .row .col-md-6 {
        margin-bottom: 15px;
    }
}
